.nav {
  padding: 1.4rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.title {
  font-size: 0.91rem;
  font-weight: normal;
}

.list {
  width: 100%;
  min-width: 100%;
  list-style-type: none;
  display: flex;
  gap: 0.7rem;
}

.item {
  flex: 1;
}

.link {
  border: 0.035rem solid #ffdd91;
  border-radius: 0.35rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  color: #49240f;
  font-size: 0.7rem;
  text-decoration: none;
}

.text {
  text-transform: uppercase;
}

.active {
  background-color: #fff9eb;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .item {
    width: 10.5rem;
    max-width: 10.5rem;
  }
}
