.nav {
  width: 100%;
  max-width: 100%;
}

.list {
  width: 100%;
  min-width: 100%;
  list-style-type: none;
  display: flex;
}

.item {
  flex: 1;
}

.link {
  padding: 1rem;
  border-top: 1px solid #49240f;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #49240f;
  font-size: 0.7rem;
  text-decoration: none;
}

.active {
  border-top: 0;
  border-bottom: 1px solid #49240f;
  background-color: #fff;
  font-size: 0.9rem;
}

.item:nth-child(1) .active {
  border-right: 1px solid #49240f;
}

.item:nth-child(2) .active {
  border-right: 1px solid #49240f;
  border-left: 1px solid #49240f;
}

.item:nth-child(3) .active {
  border-left: 1px solid #49240f;
}
