.product {
  position: relative;
  border: 0.035rem solid #fff9ed;
  border-radius: 0.35rem;
  display: flex;
  gap: 0.91rem;
}

.image-container {
  position: relative;
  flex: 1.4;
  min-height: 7rem;
  max-width: 10.5rem;
  padding: 0.91rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9ed;
}

.image {
  height: auto;
  width: 100%;
}

.product-info {
  flex: 2;
  padding: 0.91rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.175rem;
}

.product-name {
  font-size: 1.05rem;
  font-weight: bold;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
}

.currency {
  font-weight: bold;
}

.description {
  white-space: pre-wrap;
  margin: 0.7rem 0;
  color: #777777;
  font-size: 0.7rem;
}

.button {
  cursor: pointer;
  display: block;
  outline: none;
  border: none;
  border-radius: 0.35rem;
  padding: 0.7rem 1.05rem;
  color: #49240f;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  align-self: flex-end;
}

/* Desktop */
@media only screen and (min-width: 1100px) {
  .product {
    width: 48%;
    max-width: 48%;
  }
}
