.header {
  padding: 2.1rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.catalogue {
  overflow-y: auto;
  padding: 0 1.4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.boxes {
  border: 0.07rem dashed #49240f;
}

.flavours {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem 0;
}

.flavour {
  cursor: pointer;
  position: relative;
  width: 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flavour:hover {
  transform: scale(1.1);
  transition: all 0.07s ease-in;
}

.image {
  width: 63%;
}

.name {
  height: 23%;
  font-size: 0.63rem;
  line-height: 0.63rem;
  text-align: center;
}

.chosen-container {
  padding: 1.4rem;
  padding-bottom: 2.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.chosen-text {
  font-weight: bold;
}

.chosen-list {
  display: flex;
  gap: 0.35rem;
}

.chosen-item {
  position: relative;
  flex: 1;
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
  min-height: 2.8rem;
  min-width: 2.8rem;
  max-height: 2.8rem;
  max-width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  border: 0.035rem dashed #49240f70;
}

.chosen-img {
  width: 100%;
}

.footer {
  padding: 1.4rem;
  display: flex;
  gap: 0.7rem;
}

.button {
  cursor: pointer;
  flex: 1;
  outline: none;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 0.35rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.05rem;
}

.button:disabled {
  opacity: 0.35;
}

.cancel {
  background-color: #fff;
  color: #49240f;
}

.small-button {
  cursor: pointer;
  position: absolute;
  outline: none;
  border: none;
  border-radius: 0.35rem;
  height: 1.05rem;
  width: 1.05rem;
  color: #49240f;
  font-size: 1.05rem;
  line-height: 1.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove {
  top: -0.35rem;
  right: -0.35rem;
  background-color: #ffadad;
  color: #fff;
  font-weight: bold;
}
