.header {
  padding: 2.1rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.close {
  outline: none;
  border: none;
  border: 0.035rem solid #ffd270;
  border-radius: 0.35rem;
  padding: 0.35rem 0.7rem;
  background-color: transparent;
  color: #49240f;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.orders {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.item {
  position: relative;
  padding: 1.05rem;
  display: flex;
  gap: 1.05rem;
  background-color: #fff9ed;
}

.img-container {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
}

.info {
  flex: 2.1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.35rem;
}

.name {
  font-weight: bold;
}

.quantity-container {
  display: flex;
  border: 0.035rem solid #ffd270;
  border-radius: 0.35rem;
  background-color: transparent;
}

.quantity-button,
.quantity {
  width: 1.4rem;
  height: 1.4rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: #49240f;
  font-size: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtotal {
  font-size: 1.05rem;
  font-weight: bold;
}

.remove {
  position: absolute;
  top: -0.35rem;
  right: -0.35rem;
  outline: none;
  border: none;
  border-radius: 0.35rem;
  height: 1.05rem;
  width: 1.05rem;
  background-color: #ffadad;
  color: #fff;
  font-size: 1.05rem;
  font-weight: bold;
  line-height: 1.05rem;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: bold;
}

.pay {
  outline: none;
  border: none;
  padding: 1.05rem 1.4rem;
  border-radius: 0.35rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.91rem;
}

.pay:disabled {
  opacity: 0.35;
}

.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  opacity: 0.35;
  font-size: 1.05rem;
}
