:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Martel Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: #fff;
  color: #49240f;
}

* {
  margin: 0;
  padding: 0;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  background: #fff;
}

.scrollbar::-webkit-scrollbar {
  width: 0.3rem;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background: #fff;
  background: linear-gradient(to right bottom, #d8b98b, #e6d1b3);
}

.main-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.outlet-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.5rem;
}

.bg-gradient-primary {
  background: #ffdd91;
  background: linear-gradient(
    to left top,
    #ffd270,
    #ffd885,
    #ffdd91,
    #ffe5ad,
    #ffecc2
  );
  color: #49240f;
}

.bg-gradient-secondary {
  background: #fff;
  background: linear-gradient(to right bottom, #d8b98b, #e6d1b3);
  color: #49240f;
}

.special {
  font-family: "Merienda", cursive;
}

/* .colors {
  primary: #ffdd91;
  secondary: #d8b98b;
  tertiary: #49240f;
} */

/* .disable-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
} */

/* .btn:disabled {
  cursor: not-allowed;
  opacity: 40%;
} */

/* .fade-enter-active,
.fade-leave-active {
  transition: all 1s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
